@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Riddles in the Dark is the name of a chapter in J.R.R. Tolkien's The Hobbit. 
        In it, the book's hero finds himself deep within a cave system which is inhabited by goblins... 
        among other things... 
        He hears something approach, and soon finds himself face to face with the dark creature known as Gollum. 
        In a bargain for his life, he tempts Gollum into a contest of riddles. 
        Would you have made it out alive?
    </p>
    <p>Solve the riddles <a href="/Riddles">here</a>.</p>
</div>
