@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
<h1>@ViewData["Title"]</h1>

<p>Feel free to use this page in any way you'd like.</p>
</div>
<div>
    <p>Created by <a href="https://github.com/cireneirbo">Eric O'Brien</a></p>
</div>


